<h1 class="is-size-4" style="margin-bottom: 20px;">About CeSEM</h1>

<p><b>CeSEM (Center for Scientific Equipment Maintenance)</b> is a technology centre based at the <a href="http://jkuat.ac.ke/">Jomo Kenyatta University of Agriculture and Technology (JKUAT)</a> in Kenya.</p>
<br/>

<p>  The purpose of the centre is to carry out maintenance and to ensure optimal performance of all scientific equipment in the university. A proposal to initially host CeSEM at the Innovation and Prototyping Integrated Centre (iPIC) was approved by the University Senate. The fact that the University Senate projected the growth of the centre to a directorate status in future emphasizes the importance this would have on academic and research outcomes. </p>
<br/>

<p> A good number of equipment repair and maintenance initiated with the help of Japan International Cooperation Agency (JICA) through <a href="http://jkuat.ac.ke/projects/africa-ai-japan/">AFRICA-ai-JAPAN project</a> has led to the operationalization of quite a number of equipment that are currently being effectively used for teaching and research activities, thereby saving the university colossal amounts and availing the relevant tools for academic excellence.</p>
<br/>

<p>Respective departments requiring CeSEM services will be responsible for the costs incurred in maintaining their equipment.  This would ensure sustainability of the centre.</p>




