<h2> <%= current_user.name %> is logged in.</h2> 
<h4> email: <%= current_user.email %> </h4>
<%= link_to "logout", destroy_user_session_path, method: :delete %> 

<div class="container" style="margin-top: 60px;">

  <div class="columns is-centered">
    <div class="column">

     <div style="margin:20px 200px; border: 2px solid hsl(141, 71%, 48%); border-radius: 10px; padding: 40px 100px;">

       <h1 class="is-size-3 has-text-danger has-text-centered">CeSEM</h1>

       <p class="is-size-5 has-text-centered has-text-white" style="background-color: hsl(204, 86%, 53%);">Kindly select one option</p>

       <div class="has-text-danger is-size-5"><a href="">New equipment details</a></div>
       <div class="has-text-danger is-size-5"><a href="">New maintenance / Repair request</a></div>
       <div class="has-text-danger is-size-5"><a href="">Request follow-up</a></div>
       <div class="has-text-danger is-size-5"><a href="">Billing</a></div>
       <div class="has-text-danger is-size-5"><a href="">Customer Satisfaction Survey</a></div>

       <div class="field is-grouped" style="margin: 60px 0px;">
        <p class="control">
          <a class="button is-warning">
            Back
          </a>
        </p>
        <p class="control">
         <a class="button is-info">
          Next
        </a>
      </p>
      <p class="control">
        <a class="button is-danger">
          Sign Out
        </a>
      </p>
    </div>

  </div>
</div>
</div>

</div>