
  <div class="columns is-centered">
    <div class="column">

     <div style="margin:20px 200px; border: 2px solid hsl(141, 71%, 48%); border-radius: 10px; padding: 40px 100px;">

       <h1 class="is-size-3 has-text-danger has-text-centered"></h1>

       <p class="is-size-5 has-text-centered has-text-white" style="background-color: hsl(204, 86%, 53%);">Kindly select one option</p>

       <div class="has-text-danger is-size-5"><a href="/equipments/new">New equipment details</a></div>
       <div class="has-text-danger is-size-5"><a href="/maintenances/new">New maintenance / Repair request</a></div>
       <div class="has-text-danger is-size-5"><a href="/followup">Request follow-up</a></div>
       <div class="has-text-danger is-size-5"><a href="/billings">Billing</a></div>
       <div class="has-text-danger is-size-5"><a href="/survey">Customer Satisfaction Survey</a></div>

     <p class="is-size-5 has-text-centered has-text-white" style="background-color: hsl(14, 100%, 53%);">Admin section</p>
       <div class="has-text-danger is-size-5"><a href="/billings/new">Create Billing</a></div>

    </div>
</div>
</div>
