  <h1 class="is-size-4" style="margin:40px 0;">Sign up success</h1>
  
  <p>Thank you for signing up for the CeSEM digital system.</p>
  <p>We have sent you an e-mail for the confirmation. Kindly check your e-mail inbox and click the link in the e-mail to activate your account.</p>

