<h1 class="is-size-4" style="margin-bottom: 20px;">Staff</h1>

<p class="is-size-5" style="margin-bottom: 10px;">Regular staff</p>

<figure class="image is-128x128">
    <%= image_tag 'mr_omondi.png', class: "is-rounded" %>
</figure>
<p>Mr. Daniel Omondi</p>
<br/>

<p class="is-size-5" style="margin-bottom: 10px;">Other staffs</p>

<div class="columns">
 <div class="column is-one-fifth"> 
    <figure class="image is-128x128">
        <%= image_tag 'mr_masinde.png', class: "is-rounded" %>
    </figure>
    <p>Mr. David Masinde</p>
</div>
<div class="column is-one-fifth"> 
    <figure class="image is-128x128">
        <%= image_tag 'mr_macharia.png', class: "is-rounded" %>
    </figure>
    <p>Mr. David Macharia</p>
</div>
<div class="column is-one-fifth"> 
    <figure class="image is-128x128">
        <%= image_tag 'mr_nderi.png', class: "is-rounded" %>
    </figure>
    <p>Mr. David Nderi</p>
</div>
</div>

<p class="is-size-5" style="margin-bottom: 10px;">Technical advisor</p>
<p>Dr. Shohei Aoki (AFRICA-ai-JAPAN Project)</p>