 <div class="container" style="margin: 0px 100px;">
  <h2 class="is-size-4 is-pulled-right has-text-danger">CeSEM</h2>
  <h1 class="is-size-4" style="margin:40px 0;">Customer Satisfaction Survey</h1>
  
  <p>Kindly let us know whether you are satisfied with services received from CeSEM by clicking the link below and filling in form 1-9-1.</p>
  <p>We would be glad to hear from you.</p>

  <div>Customer Complement / Complaint Form [F-1-9-1]</div>

  <div class="field is-grouped" style="margin: 60px 0px;">
    <p class="control">
      <a class="button is-warning">
        Back
      </a>
    </p>
    <p class="control">
      <a class="button is-danger">
        Sign Out
      </a>
    </p>
  </div>


</div> 
