<div class="container" style="margin: 0px 100px;">
    <h2 class="is-size-4 is-pulled-right has-text-danger">CeSEM</h2>
    <h1 class="is-size-4" style="margin:40px 0;">New maintenance / Repair request acknowledgement</h1>
       
    <p>Thank you for choosing our services.</p>
    <p>Your request for maintenance / repair has been successfully registered for Inventory No.: JKU/_____________. You may make inquiries of your request using the following system gen- erated reference number, or by directly calling the extension provided below:</p>


    <p>***************************************** </p>
    <p>Trace Number: CeSEM/MM/0000/YYY </p>
    <p> CeSEM Extension: 2146 </p>
    <p> *****************************************</p>

    <div class="field is-grouped" style="margin: 60px 0px;">
          <p class="control">
            <a class="button is-warning">
                Back
          </a>
        </p>
        <p class="control">
         <a class="button is-info">
            Next
         </a>
        </p>
        <p class="control">
            <a class="button is-danger">
                Sign Out
            </a>
        </p>
    </div>

</div> 