  <h1 class="is-size-4" style="max-resolution: res;40px 0;">Cancel request sent</h1>
  
  <p>Your cancel request for <u><%= Equipment.find_by_id(@maintenance.equipment_id).name %></u> has been sent.</p>
  <p>CeSEM staff will deal with the request. Thank you.</p>
