 <div class="container" style="margin: 0px 100px;">
    <h2 class="is-size-4 is-pulled-right has-text-danger">CeSEM</h2>
    <h1 class="is-size-4" style="margin:40px 0;">Request follow-up (enter Trace Number)</h1>
       
    <div class="field">
        <label class="label">Trace Number</label>
        <div class="control">
            <input class="input" type="text" placeholder="">
        </div>
    </div>

    <div class="field">
        <label class="label">Enquiry Output (Expert diagnosis)</label>
        <div class="control">
            <input class="textarea" type="text" placeholder="">
        </div>
    </div>

   <div class="field">
    <label class="label">Status of Repair / Maintenance</label>
  </div>


    <div class="field is-grouped" style="margin: 60px 0px;">
        <p class="control">
         <a class="button is-success">
            Submit
        </a>
        </p>
        <p class="control">
            <a class="button is-danger">
                Sign Out
            </a>
        </p>
    </div>


   </div> 