<div class="container" style="margin: 0px 100px 60px;">
    <h2 class="is-size-4 is-pulled-right has-text-danger">CeSEM</h2>
    <h1 class="is-size-4" style="margin:40px 0;">New maintenance / Repair request (enter all fields)</h1>

    <%= render 'form', maintenance: @maintenance %>

</div>